
form {
    display: inline-block;
    border: 1px solid #dadce0;
    min-width: 500px;
  }
  
  h1 {
    background: #f6f9fe;
    margin: 0;
    padding: 15px;
    font-size: 20px;
    text-align: center;
  }
  
  label {
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  section {
    margin: 10px;
    border: 2px solid grey;
    padding: 10px;
  }
  
  section h2 {
    margin: 0;
  }
  
  #error {
    display: none;
    color: rgb(136, 0, 0);
  }
  
  table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 500px;
  }
  
  tr {
    border: 1px solid black;
  }
  
  th:first-child,
  td:first-child {
    width: 40%;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    width: 20%;
  }
  
  button {
    display: block;
    margin: 5px 0;
    width: 100%;
  }